:root{

  --primary-900: #02343a;
  --primary-700: #045463;
  --primary-500: #0b7285;
  --accent-600: #ffca28;
  --accent-400: #ffd166;
  --neutral-100: #f8fafb;
  --neutral-300: #e6eef0;
  --neutral-500: #bfcbd0;
  --neutral-900: #0e2226;
  --danger: #e63946;

  --font-sans: "Segoe UI", Arial, sans-serif;
  --fs-xxl: 36px;
  --fs-xl: 28px;
  --fs-lg: 20px;
  --fs-md: 16px;
  --fs-sm: 14px;

  --sp-1: 8px;
  --sp-2: 16px;
  --sp-3: 24px;
  --sp-4: 32px;
  --sp-5: 48px;

  --container-max: 1200px;
  --radius: 10px;
  --shadow-1: 0 6px 18px rgba(2,36,42,0.06);
}
